body {
    font-family: 'Arial', sans-serif;
    margin: auto;
    padding: 0;
    max-width: 70em;
    background-color: #f4f4f4;
    line-height: 1.6;
    padding-top: 50px; /* Adjusted padding to prevent header overlap */
}

header {
    background-color:  #074547;
    color: rgba(255, 255, 255, 0.990);
    text-align: center;
    padding: 0; /* Minimal padding to reduce height */
    position: fixed;
    width: 100vw; /* Ensures the header spans the full width of the page */
    top: 0;
    left: 0; /* Ensures the header starts from the left edge */
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px; /* Reduced gap between navigation links */
    margin-top: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px; /* Minimal padding for navigation links */
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #575757;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



h1 {
    color: grey;
    text-align: center; /* Center-align all headers */
}

h2 {
    color: black;
    text-align: center; /* Center-align all headers */
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 15px; /* Rectangular shape with rounded corners */
    display: block;
    margin: 0 auto; /* Center the image */
}

#bio p, #education p, #courses p, #contact p {
    text-align: justify;
    color: black;
}

#Education {
    text-align: center; /* Center-align the text inside the courses section */
}

#courses ul {
    text-align: center; /* Center-align the text inside the courses section */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e4e4e4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

a {
    color: Blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
